DATABASE_URL=
NEXT_PUBLIC_APP_URL=http://localhost:3000
JWT_SECRET=
NEXTAUTH_SECRET=
BREVO_HOST=smtp-relay.brevo.com
BREVO_PORT=587
BREVO_USER=
BREVO_PASS=
EMAIL_SENDER_EMAIL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
